spring:
  kafka:
    producer:
      acks: all
      retries: 10
      properties:
        enable.idempotence: true
        max.in.flight.requests.per.connection: 5
        compression.type: snappy
        linger.ms: 10
        batch.size: 32768

logging:
  level:
    root: WARN
    com.ridesharing: INFO
