# Java
*.class
*.jar
*.war
*.ear
target/
*.log

# Spring Boot
.springBeans

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Maven
.mvn/
mvnw
mvnw.cmd

# Gradle
.gradle/
build/

# Logs
logs/
*.log

# Kafka data
kafka-data/
zookeeper-data/
